
<div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <a href="#sec-welcome" scroll-page class="navbar-brand">
      <div class="logo"></div>
    </a>
  </div>
  <div>
    <ul class="nav navbar-nav navbar-right">
          <li>
            <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-click="toggleCollapsibleMenu()"><i class="fa" ng-class="{'fa-bars': isCollapsed, 'fa-close': !isCollapsed}"></i> </a>
            <div class="dropdown-bg" ng-class="{show: !isCollapsed}" ng-click="toggleCollapsibleMenu()"></div>
            <ul class="dropdown-menu" role="menu" ng-class="{show: !isCollapsed}" ng-click="toggleCollapsibleMenu()">
              <li><a href="#sec-skills" scroll-page >Skills</a></li>
              <li><a href="#sec-projects" scroll-page >Projects</a></li>
              <li><a href="#sec-history" scroll-page >History</a></li>
              <li><a href="#sec-contact" scroll-page >Contact</a></li>
            </ul>
          </li>
       </ul>
  </div>
  
  <!-- Collect the nav links, forms, and other content for toggling -->
    
</div>