<div class="panel panel-project panel-homeexchange">
	<div class="panel-body">
		<h1>Projects</h1>
		<h2>HomeExchange.com</h2>
		<p>
			Home Exchange is a house swapping website that allows travelers to swap their homes with other travelers in destinations they are wanting to travel to. Home Exchange has done over 300,000 online house exchanges and has 46,000+ current listings.
		</p>
		<h3>My Tasks</h3>
		<ul class="task-list">
			<li>
				<h4>Core search functionality and algorithm</h4>
				I helped build the companies core components including their search engine. The Home Exchange search has a smart algorithm that returns results based on users who are looking to come to the searchers current area, it automatically priorities houses of similar value and many other variables. I created filtering functionality from a wide range of options and indexing methods. 
			</li>
			<li>
				<h4>Search frontend</h4>
				I created a seamless Google like search expierence with no page loads and functionality that pushes the searchers geo query to the URL in an SEO friendly format.
			</li>
			<li>
				<h4>Localization</h4>
				This was very key for this project due to the users being spread out across the globe. I helped with functionality to programmatically translates all geo URL structure, geo searching and most of all the exchange process. 
			</li>
		</ul>

	</div>
	<div class="project-graphic"></div>
</div>