<div class="panel panel-project panel-vizio">
	<div class="panel-body">
		<h1>Projects</h1>
		<h2>support.vizio.com</h2>
		<p>
			While at Blitz Agency I helped Vizio, the leading LCD tv company, create a fully responsive support center to help customer successfully learn how to use there products. 
		</p>
		<h3>My Tasks</h3>
		<ul class="task-list">
			<li>
				<h4>Frontend development</h4>
				Using Bootstrap I created a fully responsive support center compatible with all mobile devices, tablets and desktops. Also created functionality for Vizio to easily update their support center via JSON. 
			</li>
		</ul>

	</div>
	<div class="project-graphic"></div>
</div>