<div class="panel panel-project panel-instabrand">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<h1>Projects</h1>
			</div>
			<div class="col-md-8">
				<h2>InstaBrand Analytic & CRM platform</h2>
				<p>
					A social media analytic and influencer marketing CRM used for brands such as Disney, Toyota, McDonald's and many other big brands. This platform was used to deliver brand and influencer audience analytics, posts engagements and most trending posts analytics. It also served as staff CRM to manage all ongoing campaigns. 
				</p>

			</div>
			<div class="col-md-4">
				<h3>My Tasks</h3>
				<ul class="task-list">
					<li>
						<h4>Frontend</h4>
						I helped engineer frontend architect with AngularJS, Bootstrap and Sass. Responsible for ensuring teammates code remained module and reusable. I contributed a library of angular directives and components to be easily reused in new UI or for quick prototyping. 
					</li>
					<li>
						<h4>Backend</h4>
						I oversaw RESTful architect on Yii2 framework, architected data models and service layers, contributed to SQL data structure and architect, contributed jobs to collect data from multiple social media endpoints and then store in an index table to be quickly queried. Also helped implement unit testing with CodeCeption.
					</li>
					<li>
						<h4>Processes</h4>
						Implemented agile + SCRUM practices and workflow. I organized  and staffed a talent team with minimal bugets. Set product road maps and created UX workflows.
					</li>
				</ul>
			</div>
		</div>
		

	</div>
	<div class="project-graphic"></div>
</div>