<div class="panel panel-project panel-instabrand-search">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<h1>Projects</h1>
			</div>
			<div class="col-md-12">
				<h2>InstaBrand Search</h2>
				<p>
					We created a search engine able to search over 100k influencer across multiple social platforms, where a brand or marketer can search for Influencers who trend on any given topic such as “fashion” or “fitness”. Marketers can drill down into a topic and find related topics within and other influencers related. Marketers are also able to search by geo graphics, followers, engagements, etc. This was a huge big data project, collecting and processing 100’s of millions of posts, 10’s of millions of unique hashtags/mentions and billions of relationships all while returning some pretty complex queries in milliseconds 😎. 
				</p>

			</div>
			<div class="col-md-6">
				<h3>My Tasks</h3>
				<ul class="task-list">
					<li>
						<h4>Backend</h4>
						<ul>
							<li>
								Contributed to architecting and building data structure in Neo4j and Elasticsearch, created ETL jobs to transform our data from our SSOT to indexed into Elasticsearch and Neo4j. 
							</li>
							<li>
								Contributed query planning on advance Cypher queries to make DB hits minimal as possible and helped created queries for ranker algorithms. 
							</li>
							<li>
								Helped architect and maintain models, restful endpoints and service layer of our Django application. 
							</li>
							<li>
								Created memoize caching layer and eviction policies in Django application with Redis. 
							</li>
						</ul>
					</li>
					<li>
						<h4>Frontend</h4>
						<ul>
							<li>
								Contributed to architecting and building JS child and parent classes through out different features of application.
							</li>
							<li>
								Contributed to building publish and subscribe events to enable us to easily pass model data throughout different JS classes of our application. 
							</li>
							<li>
								Created D3.js charts with complex custom functionality, allowing users to see relationships of data points with ease. 
							</li>
							<li>
								Contributed HTML+Sass markup on features.
							</li>
						</ul>
					</li>
					<li>
						<h4>Process</h4>
						<ul>
							<li>
								Code reviewed other teammates pull requests, making sure code is up to standards, anti patterns didn’t exist, duplicate helper functions etc.
							</li>
							<li>
								Managed Kanban board and work flow, ensuring team mates tasks were being completed on time and addressing and delegating any blockers that would arise.
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-md-6">

			</div>
		</div>
		

	</div>
	<div class="project-graphic"></div>
</div>