<div class="panel panel-project panel-summary">
	<div class="panel-body">
		<h1>Overview</h1>
		<div class="row">
			<div class="col-sm-8">
				<h2>A little about me</h2>
				<p>
					I’m a Full-stack engineer with startup and agency experience. At 13 years old I created my first e-commerce site and found I had a great passion for the field. 3 years later I started a web development and design company which I held for 7 years, allowing me to gain a lot of self taught development and UX/UI experience. After selling my company I took my experience and started working for large development agencies and brands gaining extensive experience dealing with today’s latest frameworks and languages along with building to scale.  Also helped build a VC funded startup and grew its engineering team to 11 people.
				</p>
			</div>
			<div class="col-sm-4">
				<h2>Objective</h2>
				<p>
					I am interested in lead full stack roles but do want to be at a company where I have the opportunity to expand experience in big data. I am looking for a fast growing startup that’s working on technology that solves fulfilling problems. My goal is to continue my experience in big data and eventually one day move more into neural networks and deep learning which I’m very fascinated in. 
				</p>
			</div>
			<div class="col-sm-12">
				<div class="row">

					<div class="col-md-3 col-sm-6">
						<div class="panel panel-skills bg-success no-radius">
							<div class="panel-heading text-center">
								<span class="circle-icon"><i class="fa fa-cogs"></i></span>
							</div>
							<div class="panel-body">
								<h2>Backend Development</h2>
								<b>Languages and Technology</b>
								<p>
									Python, NodeJS, PHP, PostgreSQL, MySQL, ElasticSearch, MongoDB, Neo4J, Cypher, Redis, AWS, Travis CI, CodeCeption, PHPUnit, Linux
								</p>

								<b>Frameworks</b>
								<p>
									Django, Express.js, Meteor, Yii, Laravel, Zend, CakePHP, Magento,  ExpressionEngine
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="panel panel-skills bg-primary no-radius">
							<div class="panel-heading text-center">
								<span class="circle-icon"><i class="fa fa-scissors"></i></span>
							</div>
							<div class="panel-body">
								<h2>Frontend Development</h2>
								<b>Languages and Technology</b>
								<p>
									SASS, Less, JS/ES6, Grunt, Gulp, Yeoman, HTML/HTML5, CSS/CSS3, PhantomJS, CoffeeScript, D3.js
								</p>

								<b>Frameworks</b>
								<p>
									Angular, React, React Native, Ampersand.js, Jade, Backbone, Bootstrap, jQuery
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="panel panel-skills bg-info no-radius">
							<div class="panel-heading text-center">
								<span class="circle-icon"><i class="fa fa-amazon"></i></span>
							</div>
							<div class="panel-body">
								<h2>AWS</h2>
								<b>Experience with</b>
								<p>
									EC2 + Load balancer setup, S3 + event trigger setup, Lambda, EMR, RDS, ElastiCache, Elasticsearch, CodeDeploy
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<div class="panel panel-skills bg-grapefruit no-radius">
							<div class="panel-heading text-center">
								<span class="circle-icon"><i class="fa fa-image"></i></span>
							</div>
							<div class="panel-body">
								<h2>UI/UX Design</h2>
								<b>Softwares Knowledge</b>
								<p>
									Photoshop, Illustrator, Sketch, Balsamiq, InVision, InDesign
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>