<div class="panel panel-project panel-hotwheels">
	<div class="panel-body">
		<h1>Projects</h1>
		<h2>Hotwheels.com</h2>
		<p>
			My latest project at Blitz Agency was assisting with the launch of hotwheels.com. I helped hotwheels with their new frontend makeover while delivering a fully responsive site. 
		</p>
		<h3>My Tasks</h3>
		<ul class="task-list">
			<li>
				<h4>Frontend development</h4>
				I assisted with all frontend development consisting of SASS, Bootstrap and some backbone creating full responsiveness across all devices. One of the key challenges I helped overcome in this project is making all components of the site to be module where hotwheels can easily use their CMS to rearrange modules anywhere in the site without any css breaking or inconsistent style flow. We also had to take into account the site being localized and for our modules to dynamically change depending on what language the user is using. Certain content areas would shift right to left instead of left to right depending on how the users specific language is read, all this being controlled with hotwheels CMS allowing them to do no additional css development.  
			</li>
		</ul>

	</div>
	<div class="project-graphic"></div>
</div>